@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');
html, body {
    margin: auto;
    font-family: 'Rajdhani', sans-serif;
}

/* ------------------Navbar--------------- */

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    background-color: rgba(21, 27, 34, 0.643);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(31, 19, 201, 0.643);
}

.navbar-inverse .navbar-nav>li>a {
    font-size: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.blurry .blurrer {
    height: 60px;
    top: -10px;
    left: -10px;
    right: -10px;
    position: absolute;
    overflow: hidden;
    z-index: -500;
    background-color: rgba(21, 27, 34, 0.643);
    box-shadow: 1px 4px 16px 0 rgba(23, 16, 112, 0.87);
    border-style: hidden;
}

.navbar-inverse {
    background-color: transparent;
    color: white;
}

pre {
    tab-size: 0;
}

@media screen and (max-width: 768px) {
    .side-collapse-container {
        width: 100%;
        position: relative;
        left: 0;
        transition: left 0.4s;
    }
    .side-collapse-container.out {
        left: 200px;
    }
    .side-collapse {
        top: 50px;
        bottom: 0;
        left: 0;
        width: 150px;
        position: fixed;
        overflow: hidden;
        transition: width .4s;
        background-color: rgba(21, 27, 34, 0.643);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .side-collapse.in {
        width: 0;
    }
}

/* ------------------End Navbar--------------- */

/* --------------home-------------- */

#home {
    /* padding: .1px; */
    height: 100vh;
    color: white;
    text-align: center;
}

.me {
    padding-top: 1em;
}

.bg-image {
    background-image: url('../src/background.jpg');
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.452);
    color: white;
    border: 0.1px solid rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 0px;
    text-align: center;
}

.site-footer, #home {
    background-color: rgb(0, 0, 0);
}

/* --------------end home-------------- */

/* -----------------about me ---------------- */

#about {
    height: auto;
    padding-top: 3em;
    padding-bottom: 100px;
    text-align: center;
    margin: 20px 20px;
}

.about-text {
    margin: 40px auto;
    max-width: 900px;
    min-width: 140px;
    font-size: 1vw;
}

.profile {
    max-width: 200px;
    box-shadow: 1px 4px 16px 0 rgba(16, 5, 65, 0.87);
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 1000px) {
    .about-text { font-size: 1.5em;}
}
@media (max-width: 1000px) {
    .about-text { font-size: 1.9em;}
}
@media (max-width: 500px) {
    .about-text { font-size: 1.4em;}
}

/* -----------------end about me ---------------- */

/* ------------technology----------------- */

#skills {
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

/* -----------------footer----------------- */

.site-footer {
    color: white;
    font-size: 12pt;
    text-align: center;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
}

#social-wrapper {
    text-align: center;
}

.social-wrapper {
    text-align: center;
}

.social-wrapper ul li {
    display: inline;
    margin: 1 1px;
}

.java-icon, .c-icon, .html-icon, .bootstrap-icon, .css-icon, .mysql-icon, .postgresql-icon,
 .spring-icon, .sqlite-icon, .gitlab-icon, .uml-icon, .latex-icon, .uxui-icon, .js-icon, .php-icon, .laravel-icon,
 .phpstorm-icon,.vscode-icon,.jira-icon,.github-black-icon,.gitlab-icon,.bitbucket-icon, .terminal-icon,.scrum-icon, .tableplus-icon {
    width: 100px;
    height: 60px;
    padding: 1px 20px;
}

.facebook-icon, .instagram-icon, .linkedin-icon, .github-icon, .email-icon, .lattes-icon {
    width: 40px;
    height: 40px;
    opacity: .3;
    filter: alpha(opacity=100);
    border-radius: 100px;
    box-shadow: 1px 2px 8px 0 rgba(47, 0, 255, 0.87);
}

.facebook-icon:hover, .instagram-icon:hover, .linkedin-icon:hover, .github-icon:hover, .email-icon:hover, .lattes-icon:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.footer-nav p {
    text-align: center;
}

/* --------------scrollbar---------------- */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 0px;
    background: rgba(18, 3, 71, 0.726);
}
/* -------------------technology tools------------------------- */

#development-tools{
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

/* -------------------end technology tools------------------------- */

/* -------------------portfolio------------------------- */

#portfolio {
    height: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}


/* Center website */

* {
    box-sizing: border-box;
    margin: auto;
}

.main {
    max-width: 900px;
}

/* Content */

.content {
    background-color: transparent;
    box-shadow: 1px 4px 16px 0 rgba(75, 82, 90, 0.87);
    padding: 1em;
    margin-bottom: 2em;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (min-width: 1000px) {
    .content {
        width: 80%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .content {
        width: 100%;
    }
}

.button {
    border-radius: 10px;
    color: rgb(97, 97, 97);
    border-color: transparent;
    box-shadow: 1px 2px 8px 0 rgba(75, 82, 90, 0.87);
}

[aos="fade"] {
    opacity: 0;
    transition-property: opacity;
}

[aos="fade"].aos-animate {
    opacity: 1;
}
