@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');
body {
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
}

/* ------------------Navbar--------------- */

.topnav {
    cursor: pointer;
    overflow: hidden;
    background-color: rgb(27, 27, 27);
}

.topnav a {
    float: left;
    display: block;
    color: #d6d6d6;
    text-align: center;
    padding: 20px 100px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(168, 168, 168);
    color: black;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: relative;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}

/* ------------------End Navbar--------------- */

/* --------------profile-------------- */

.image {
    max-width: 150px;
    box-shadow: 0 4px 8px 0 rgba(9, 10, 66, 0.698);
    border-radius: 100px;
}

/* --------------end profile-------------- */

.div-home {
    background: rgb(27, 27, 27);
    color: white;
    padding: 100px;
    text-align: center;
}

/* -----------------footer----------------- */

.site-footer {
    background-color: rgb(27, 27, 27);
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

#social-wrapper {
    text-align: center;
}

.social-wrapper {
    text-align: center;
}

.social-wrapper ul li {
    display: inline;
    margin: 0 10px;
}

.facebook-icon, .instagram-icon, .linkedin-icon {
    margin-top: 0em;
    width: 50px;
    height: 50px;
    opacity: .5;
    filter: alpha(opacity=100);
    border-radius: 10px;
}

.facebook-icon:hover, .instagram-icon:hover, .linkedin-icon:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);

}

.footer-nav p {
    text-align: center;
}